@import url('https://fonts.googleapis.com/css?family=Monoton');

.jumbotron {
  padding: 11.85rem 0;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  /* background-position: center; */
	background-repeat: no-repeat;
  text-align: center;
}
.jumbotron h1 {
  font-family:"Monoton", sans-serif;
	font-size: 5.7rem;
  color: #fff;
}
.jumbotron p {
	font-size: 21px;
	font-weight: 200;
  color: #fff;

}
@media only screen and (min-width: 767px) {
  .jumbotron h1 {
		font-size: 7.1rem;
  }
}